* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    --base-color: #380b49;
    --base-color-tr: oklch(from var(--base-color) calc(l *0.8) c h/0.6);
    --surface-color: oklch(from var(--base-color) calc(l * 1.2) c h);
    --background-tr:  oklch(from var(--text-color) l c h /0.1);
    --brand-color: oklch(from var(--base-color) calc(l * 3.5) calc(c * 3) h);
    --brand-color-dark: oklch(from var(--base-color) calc(l * 1.5) calc(c * 2.5) h/0.8);
    --weather-box-color: oklch(from var(--base-color) calc(l * 2.5) calc(c *0.9) h/0.4);
    --text-color: #f0f0f0;
    --box-background: oklch(from var(--text-color) l c h /0.4);
     --secondary-text-color: oklch(from var(--text-color) l c h /0.6);
     --complementary-color: oklch(from var(--brand-color) calc(l*1.2) c calc(h - 180));
     --complementary-color-shadow: oklch(from var(--brand-color) calc(l*1.2) c calc(h - 180)/0.4);
     --complementary-color-light: oklch(from var(--complementary-color) calc(l * 5) calc(c * 0.7) calc(h + 5));    
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 768px;
    min-height: 100vh;
    margin: auto;
    padding: 0rem;
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/cloudy.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}

body.sunny {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
     url(img/sunny.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left; 
}

body.cloudy {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/cloudy.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

body.overcast,
body.overcast {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/overcast.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}

body.rainy,
body.rainy-night {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/rain.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

body.fog {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/fog.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;  
}

body.storm {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/storm1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

body.snow,
body.snow-night {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/snow.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}


body.clear-night {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/milky-way-ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

body.storm-night {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/storm-night.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

body.cloudy-night {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/cloudy-night.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

body.fog-night {
    background: linear-gradient(var(--base-color-tr), var(--base-color-tr)),
        url(img/fog-night.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.171);
    /* background-color: transparent; */
    padding: 2.5rem 1rem;
}

.current-time {
    font-size: clamp(1.2rem, 2.2vw, 1.625rem);
    line-height: 1.2;
    /* background-color: var(--base-color-tr); */
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--text-color);
    margin-right: 1rem;
    /* filter: brightness(1.3) saturate(0.6);
     text-shadow:
    0 0 4px var(--complementary-color-shadow),
    0 0 8px var(--complementary-color-shadow),
    0 0 16px var(--complementary-color-shadow); */
}

label {
    max-width: 180px;
    margin-left: 1rem;
    color: var(--text-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: clamp(1rem, 1.1vw, 1.625rem);
    line-height: 1.2;
    transition: all 0.4s ease-out;
}

label:hover {
    filter: brightness(1.5);
    font-weight: 800;
    transform: scale(1.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

input[type="color"] {
    all: unset;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    overflow: hidden;
}

input[type="color" i] {
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(169, 169, 169);
    border-image: initial;
    padding: 1px 2px;
}

input {
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    padding: 1px;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
    transition: all 0.4s ease-out;
}

#primary_color{
    position: absolute;
    right: 0;
    top: 2rem;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    border: none;
    outline: none;
    margin: 0 0 0 0.5rem;
    visibility: hidden;
}

#primary_color::-webkit-color-swatch-wrapper {
    padding: 0; 
}
#primary_color::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

.color-picker {
    all: unset;
    outline: none;
    padding: 0;
    margin: 0 0.5rem;
    appearance: none;
    -webkit-appearance: none;
    padding-inline: 0px;
    overflow: hidden;
}

 .icon {
    height: 30px;
    width: auto;
    color: var(--text-color);
}

main {
    min-height: 60vh;
    margin: 0;
    padding: 2rem 1rem;
    /* background-color: var(--background-tr); */
    border-radius: 0.5rem;
    /* backdrop-filter: blur(5px); */
}

h1 {
    color: var(--text-color);
    font-size: clamp(1.2rem, 2.2vw, 1.625rem);
    line-height: 1.2;
    text-align: center;
    text-shadow: 0x 0px 4px var(--base-color);
}

h2 {
    color: var(--brand-color);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 4px var(--background);
}

a {
    color: var(--complementary-color);
    transition: all 0.4s ease-out;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--complementary-color-light);
}

    .scroll-left,
    .scroll-right {
        padding: 0.5rem;
        font-size: 26px;
        background-color: transparent;
        text-shadow: 0px 0px 10px var(--base-color);
        border: none;
        color: var(--complementary-color);
    }

    .scroll-left:hover,
    .scroll-right:hover,
    .scroll-left:focus,
    .scroll-right:focus {
        color: var(--complementary-color-light);
        filter: brightness(1.1);
    }

    .scroll-left i,
    .scroll-right i {
        display: inline-block;
        transition: transform 0.2s ease-out, filter 0.3s ease;
        will-change: transform;
    }

    .scroll-left:hover i,
    .scroll-right:hover i {
        transform: scale(1.2);
    }

   .scroll-left {
        position: absolute;
        top: 50%;
        left: 0rem;
        transform: translateY(-50%);
        z-index: 900;
    }

    .scroll-right {
        position: absolute;
        top: 50%;
        right: 0rem;
        transform: translateY(-50%);
        z-index: 900;

    }

.current-weather {
    position: relative;
    margin-top: 1rem;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 14px; 
    background-color: var(--weather-box-color);
    border: 1px solid var(--weather-box-color);
    backdrop-filter: 
        blur(5px)
        drop-shadow(4px 4px 10px var(--base-color-tr));
    filter: drop-shadow(4px 4px 10px var(--background));
    border-radius: 0.5rem;
}

.current-weather img.main-icon {
    height: 9rem;
    width: auto;
    filter: 
    saturate(1.1) 
    contrast(1.1)
    drop-shadow(0 0 3px rgba(0, 0, 0, 0.258));
}

.current-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex:  2;
}

.weather-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: stretch;
    position: relative;
    bottom: 0rem;
    background-color: #0000001c;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 0.3rem 0.5rem;
}

.weather-details p {
    padding: 0.1rem 0.3rem;
    margin: 0rem 0.5rem;
    border-radius: 0.5rem;
    vertical-align: middle;
    line-height: 1.4;
}

.weather-details p i,
.weather-icon2,
.weather-icon img {
    font-size: 24px;
    height: 28px;
    margin: 0 0.3rem;
    color: var(--text-color);
}

.current-temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* gap: 0.6rem; */
    max-width: 18rem;
    height: auto;
    background-color: transparent;
    padding: 1rem 0.5rem;
    font-size: 40px;
    text-align: center;
}

 .current-temp .weather-icon {
    width: 100%;
    height: auto;
    font-size: clamp(3.5rem, 10vw, 6.5rem);
 }

 .weather-icon {
    height: clamp(3.5rem, 10vw, 6.5rem);
 }

 .weather-value {
    margin-top: -2rem;
    text-shadow: 0 0 4px var(--base-color-tr);
 }

.forecast-5-day-wrapper,
.forecast-24h-wrapper {
    margin-top: 2rem;
    position: relative;
}

.forecast-5-day,
.forecast-24h {
    overflow-x: auto;
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;
    margin-top: 1rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--weather-box-color);
    border: 1px solid var(--weather-box-color);
    backdrop-filter: 
        blur(5px) 
        drop-shadow(4px 4px 10px var(--base-color-tr));
    filter: drop-shadow(4px 4px 10px var(--base-color));
    border-radius: 0.5rem;   
    gap: 0.5rem;
    padding: 0.5rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.forecast-5-day {
    min-height: 8vh;
}

.forecast-24h {
    min-height: 12vh;
}

.forecast-5-day::-webkit-scrollbar ,
.forecast-24h::-webkit-scrollbar {
    display: none;
}



.forecast-item {
    width: auto;
    /* height: fit-content; */
    max-height: 110px;
    flex: 1 1 calc(100% / 5 - 1rem); /* pro 5 sloupců, uprav podle potřeby */
    min-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    /* margin: 0.3rem 0.5rem; */
    border-radius: 0.5rem;
    background-color: var(--box-background);
    /* border: 1px solid var(--box-background); */
    backdrop-filter: 
        blur(5px)
        drop-shadow(4px 4px 10px var(--base-color-tr));
    filter: drop-shadow(4px 4px 10px var(--base-color));
    font-size: 14px;
    transition:  filter 0.6s ease-out;    
}

.forecast-item:hover {
    filter: brightness(1.02) saturate(1.1);
}

.forecast-hour {
    width: auto;
    height: fit-content;
    flex: 1 1 calc(100% / 12 - 1rem);
    min-width: 60px;
    max-width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem 0.3rem;
    /* margin: 0.3rem; */
    border-radius: 0.5rem;
    background-color: var(--box-background);
    /* border: 1px solid var(--box-background); */
    backdrop-filter: 
        blur(5px)
        drop-shadow(4px 4px 10px var(--base-color-tr));
    filter: drop-shadow(4px 4px 10px var(--background));
    font-size: 14px; 
    transition: filter 0.6s ease-out;
}

.forecast-hour:hover {
    filter: brightness(1.2) saturate(1.1);
}

.forecast-icon {
    margin: auto;
}

.forecast-icon,
.hour-icon,
.forecast-hour img {
    font-size: 26px;
    width: auto;
    height: 38px;
    filter: 
        drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
    transition: all 0.6s ease-out;
}

.forecast-icon img {
    height: 38px;
    width: auto;
}

.forecast-icon:hover,
.hour-icon:hover {
    transform: scale(1.07);
    filter: 
    brightness(1.02) 
    saturate(1.1)
    drop-shadow(0 0 3px rgba(0, 0, 0, 0.458));
}

footer {
    background-color: rgba(0, 0, 0, 0.171);
    /* background-color: transparent; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
}

footer .source {
    display: flex;
    text-align: left;
    padding-left: 0.5rem;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 0.5rem;
}
@media screen and (max-width: 434px) {
    label {
        /* display: none; */
    }
    
}

@media screen and (min-width: 768px) {
    
    body {
        max-width: 950px;
    }

    header {
        padding: 2rem 1rem 0.5rem;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        margin: 0 auto;
    }

    .scroll-left,
    .scroll-right {
        display: none;
    }

    .current-weather-wrapper {
        height: calc(100% - 2.5rem);
    }

    .current-weather {
        height:  100%;
        margin-top: 0.5rem;
    }

    .current-box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    weather-details {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .forecast {
        
    }

    .forecast-5-day {
        margin-top: 1rem;
    }

    .forecast-5-day-wrapper {
        margin-top: 0rem;
    }

    .forecast-5-day, 
    .forecast-24h {

        flex-wrap: wrap;
        flex-wrap: balance;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }

    .forecast-hour {
        padding: 0.3rem 0.3 rem;
    }

    .forecast-item {
        padding: 0.3rem 0.3rem;
    }
}


@media screen and (max-width: 400px) and (max-height: 500px) {
    header {
        display: none;
    }

    main {
        padding: 0rem 1rem;
    }

    h2 {
        display: none;
    }

    .forecast-5-day-wrapper, .forecast-24h-wrapper {
        margin-top: 1rem;
    }

    footer {
        display: none;
    }
    
}

/* Reduced motion */
@media (prefers-reduced-motion: no-preference) {
    .current-temp .weather-icon {
        animation: pulse 4.5s ease-in-out infinite;
    }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  }
  70% {
    transform: scale(1);
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }
  100% {
    transform: scale(1.1);
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
  }
}